* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  display: block;
  width: 100vw;
  height: 100vh;
}

dialog {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  color: white;
  border: 3px solid transparent;
  background:
    linear-gradient(to bottom, #1f2233, #2b3050) padding-box,
    linear-gradient(to bottom, #151829, #212646) border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  width: fit-content;
  max-width: 90vw;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  border: 3px solid transparent;
  background:
    linear-gradient(to bottom, #516aa3, #8093d9) padding-box,
    linear-gradient(to bottom, #485b8a, #7282bf) border-box;
  font-size: medium;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  transition: filter 0.2s ease;
}

button:hover {
  filter: brightness(1.1);
}

button img {
  width: 1rem;
  height: 1rem;
}

div.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: inherit;
}

div#gui {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  font-size: x-large;
  top: 1rem;
  left: 1rem;
  gap: 1rem;
}

div#mobilecontrols {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  touch-action: none;
  user-select: none;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  gap: 1rem;
}

div#mobilecontrols button img {
  width: 2.5rem;
  height: 2.5rem;
}