* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
  display: block;
  width: 100vw;
  height: 100vh;
}

dialog {
  display: none;
  flex-direction: column;
  align-items: center;;
  text-align: center;
  position: fixed;
  color: white;
  background: #17161f;
  border: 3px #0f0e13 solid;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  width: fit-content;
  max-width: 90vw;
}

button {
  border: none;
  text-align: center;
  color: white;
  background: #292830;
  font-size: medium;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  transition: 0.2s background-color ease;
}

button:hover {
  background: #313036;
}

div.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: inherit;
}